.produtos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    padding: 15px
    
}

.card-products {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
          
    width: 280px;
    border-radius: 5px;
    background-color: #f3efef;
    margin: 0 5px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.cart img {
    width: auto;
    height: auto;
}

.cart i {
    font-size: 1em;
}

.hd {
    display: flex;
    justify-content: space-between;
    
}

.tl-film, .tl-stars {
    color: #4d4d4d;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: bold;
    text-align: center;
}
h5::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;    
    animation: blink .7s ease-in infinite;
}
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}