.produtos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.card-products {
    display: flex;
    
    flex-direction: column;
    justify-content: space-evenly;
          
    width: 280px;
    border-radius: 5px;
    background-color: #f3efef;
    margin: 0 5px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.cart img {
    width: auto;
    height: auto;
}

.cart i {
    font-size: 1em;
}

.hd {
    display: flex;
    justify-content: space-between;
    
}